Theory Questions

In [ ]:
#1. what are data structures and why are they important?
"""
 Data structrues are ways of storing data in any programming language. Data structures are important because data can be accessed, stored and
modified using these data structures.
"""

In [73]:
# 2. Explain the difference between mutable and immutable data types with exaples.

#Mutable data types will help user to alter the elements with in the data.
#For example
a=[1,2,3,4] # the variable a is a list containing numbers.
a[0]=9 # list is a mutable data type. The 1st element can be changed from 1 to 9. the new list will contain [9,2,3,4]
#Immutable data types will not help user to alter the elements within the data.
#For example
a=(1,2,3,4)# the variable a is a tuple containing numbers.
a[0]=9 # Tuple is an immutable data type. Altering the 1st element will throw an error.

[9, 2, 3, 4]

In [ ]:
#3. what are the main difference between list and tuples in python .
#List are mutable , i.e the elements in a list can be altered but tuples are immutable , i.e the elements within a tuple cannot be altered.

In [76]:
#4. Describe how dictionaries store data.

#Dictionaries are unordered data types. Hence dictionaries use "keys" to store the values.
#For example
a={"name":"kamal"}
#Here, "name" is the key and "kamal" is the value. The value ,"kamal" can be accessed by calling out the key of the dictionary.
a["name"]

'kamal'

In [ ]:
#5. why might you use set instead of list in python ?
 # Set can be used instead of list , if the user wants to store homogenous data types ,  avoid storing values multiple times and intends to
 # do set operations.

In [ ]:
#6. What is a string in python and how it is different from the list?
# Strings in python are set of characters enclosed in quotes.
# lists are mutable, can store large volumes of heterogenous data but string is immuatble and can only store one value.

In [ ]:
#7. How do tuples ensure data integrity in python ?
# As tuples are immutable, its elements cannot be altered. Hence, tuples can ensure data integrity in python.

In [ ]:
#8. what is a hash table and how does it relate to dictionaries in python ?
# Hash table consists of key and its corresponding values. Dictonaries store data using a has table, i.e the values are indexed to a key.

In [ ]:
#9. Can lists contain different data types in python?
# Lists are mutable, ordered and can store heterogenous data types. Hence list can store different data types in python

In [ ]:
#10. Explain why strings are immutable in python.
# The values stored in a string cannot be changed in python. The strings are immutable in python because strings are used to strore information
# with optimum memory.

In [ ]:
#11. what are advantages that dictionaries offer over lists in certain tasks ?
# Dictionaries can be used to store peronal and non-personal information of a person , by indexing that information with a key.
# Accessing the information using key will be preferable rather than using list to store that information.

In [ ]:
#12. Describe a scenario where a tuple is preferable over a list.
# As tuple are immutable data sets and lists are mutable, tuple can used to store sensitive information such as employee id, aadhar no.
# and any other personal information.

In [77]:
#13.How do sets handle duplicate values in python?
# sets do not reflect  duplicate values in python. For example
a= {1,2,3,12,3}# the variable a is a set
#Printing this variable will return 3 once instead of twice.
a

{1, 2, 3, 12}

In [89]:
#14. How does 'in' keyword work differently for lists and dictionaries?
 # The in keyword is used to check values in the list but the same keyword is used to check key values in a dictionary.

In [83]:
#15. Can you modify elements in a tuple ? Explain why or why not.
# Tuples are immutable hence the user cannot alter the elements. Hence the elements cannot be modified

In [86]:
#16. What is a nested dictionary ? Give an example of use case.
# Nested dictionary  is a dictionary within a dictionary.
# For example
a={"name":{"age":20},"city":"Chennai"} # the key value "name" stores the dictionary {"age":20}
a

{'name': {'age': 20}, 'city': 'Chennai'}

In [ ]:
#17. Describe the time complexity of accessing elements in a dictionary.
# Dictionary is an unordered data set where the data is indexed to its key values. Unlike Lists or tuples , where the elements can be accessed
# based on numbers , elements in a dictionary are accesed using key values. Hence it takes more time to access the elements in a dictionary
# than in lists or tuple.

In [ ]:
#18. In what situations are lists preferable over dictionaries ?
#  Lists can be prefered over dictionaries , if the user intends to retrive an value faster , because the elements within a list are accessed using numbers.
# where as elements in a dictionary are accessed using key values.
# Lists are also prefered over dictionaries if the data is unlabelled.

In [ ]:
#19. Why are dictionaries considered unordered and how does that affect data retrieval?
# When compared to the list , which indexes the data based on numbers, dictonaries stores its data based on key values.
#Hence dictionaries are considered as unordered data sets.
# To retrieve data in a dictionary , key name linked to particular data should be called.

In [ ]:
#20. Explain the difference between a list and a dictionary in terms of data retrieval.
"""
The elements in the list is indexed  based on numbers but the elements in a dictionary is indexed based on key values.
For example
a=[1,2,3,4]
As the lists are ordered, the 2nd element in the list can be accessed by calling its index values , i.e a[1] will return the element 2.
b={"name":"kamal","age":20}
As the items in the dictionary are unordered , the 2nd element in the dictionary can be accessed by calling its key value,
 i.e b["age"] will return the element 20.
 """

Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it.
a= "Kamalnath. K"
print(a)

Kamalnath. K

In [2]:
#2. Write a code to find length of the string "Hello World".
a= "Hello World"
print(len(a))

11

In [3]:
#3. Write a code to slice the first 3 characters  from the string "Python Programming".
a= "Python Programming"
print(a[0:3])

Pyt

In [5]:
#4. Write a code to convert the string "hello" to upper case.
a="hello"
print(a.upper())

HELLO

In [12]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
a=list("I like apple")
a[7:12]="orange"
for i in a :
    print(i,end="")

I like orange

In [13]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [26]:
#7. Write a code to append the number 10 to the list [1,2,3,4]
a=[1,2,3,4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [25]:
#8. Write a code to remove the number 3 from the list [1,2,3,4]
a=[1,2,3,4]
a.remove(3)
a

[1, 2, 4]

In [27]:
#9. Write a code to access 2nd element in the list ['a','b','c','d']
a=['a','b','c','d']
print(a[1])

b

In [31]:
#10.Write a code to reverse the list [10,20,30,40,50]
a=[10,20,30,40,50]
a[::-1]

[50, 40, 30, 20, 10]

In [32]:
#11. Write a code to create a tuple with the  elements 100,200,300 and print it.
a=(100,200,300)
print(a)

(100, 200, 300)

In [34]:
#12. Write a code to access second-to-last element of the tuple ('red', green','blue','yellow')
a=('red', 'green','blue','yellow')
print(a[-2])

blue

In [35]:
#13. Write a code to find minimum number in the tuple (10,20,5,15)
a=(10,20,5,15)
min(a)

5

In [38]:
#14. Write a code to find index of the element "cat" in the tuple('dog','cat', 'rabbit')
a=('dog','cat','rabbit')
a.index('cat')

1

In [39]:
#15. Write a code to create a tuple containing  3 different fruits and check if Kiwi is in it.
a=("apple","banana","kiwi")
"kiwi" in a

True

In [41]:
#16. Write a code to create a set with elements 'a','b','c' and print it.
a={'a','b','c'}
print(a)

{'b', 'a', 'c'}

In [49]:
# 17. Write a code to clear all elements from the set {1,2,3,4,5}
b={1,2,3,4,5}
b.clear()
b

set()

In [50]:
#18. Write a code to remove number 4 from the set {1,2,3,4}
a={1,2,3,4}
a.remove(4)
a

{1, 2, 3}

In [51]:
#19. Write a code to find union of two sets {1,2,3} and {3,4,5}
a={1,2,3}
b={3,4,5}
c=a|b
c

{1, 2, 3, 4, 5}

In [52]:
#20. Write a code to find intersection of two sets {1,2,3} and {2,3,4}
a={1,2,3}
b={2,3,4}
c= a & b
c

{2, 3}

In [53]:
#21. Write a code to create a dictionary with keys "name","age" and "city" and print it.
a={"name":"Kamalnath","age":20,"city":"Lucknow"}
print(a)

{'name': 'Kamalnath', 'age': 20, 'city': 'Lucknow'}

In [54]:
#22. Write a code to add new key- value pair "country":"USA" to the dictionary {"name":'John', "age":25}
a={"name": 'John', "age":25}
a["country"]="USA"
a

{'name': 'John', 'age': 25, 'country': 'USA'}

In [55]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name':"Alice", 'age':30}
a={"name":"Alice", 'age':30}
a["name"]

'Alice'

In [58]:
#24. Write a code to remove the key "age" from the dictionary {"name":'Alice', "age":22, city":'New York'}
a={"name":'Alice', "age":22, 'city':"New York"}
a.pop("age")
a

{'name': 'Alice', 'city': 'New York'}

In [62]:
#25. Write a code to check if the key "city" exists in the dictionary {'name':'Alice','city':'Paris'}
a={'name':'Alice','city':'Paris'}
"city" in a

True

In [63]:
#26. Write a code to create a list, tuple and dictionary and print them all.
a=[1,2,3,4]
b=(1,2,3,4)
c={"name":"Kamalnath","age":20,"city":"Lucknow"}
print(a)
print(b)
print(c)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Kamalnath', 'age': 20, 'city': 'Lucknow'}

In [65]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result.
a=[12,65,33,23,10]
a.sort()
a

[10, 12, 23, 33, 65]

In [66]:
#28. Write a code to create a list with strings and print the element at the third  index.
a=['ram','shyam','kishan','rohan']
print(a[2])

kishan

In [71]:
#29.Write a code to combine two dictionaries into one and print the result.
a={"name":"Kamalnath","age":20,"city":"Lucknow"}
b={"salary":30000,"company":"BNY","State":"Tamilnadu"}
c=a|b
print(c)

{'name': 'Kamalnath', 'age': 20, 'city': 'Lucknow', 'salary': 30000, 'company': 'BNY', 'State': 'Tamilnadu'}

In [72]:
#30. Write a code to convet a list of strings into set.
a=["ram","shyam","ghanshyam"]
b=set(a)
print(b)

{'shyam', 'ghanshyam', 'ram'}